@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

html {
    box-sizing: border-box; }

*,
*:before,
*:after {
    box-sizing: inherit; }

body {
    margin: 0;
    background-color: #eee;
}

a {
    background-color: transparent; }

img {
    max-width: 100%;
    margin: 1rem 0 0 1rem;
    border: 0;
    border-radius: 5px; }

button,
input,
select,
textarea {
    font: inherit;
    margin: 0; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.75rem; }

td,
th {
    padding: 0.25rem 0.5rem; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9; }

body {
    color: #555;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.85;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.75rem;
    font-family: 'Open Sans', sans-serif;
    color: #700;
}

h1 {
    font-size: 1.8rem;
    font-family: 'Georgia', 'Times New Roman', serif;
}

h2 {
    font-size: 1.5rem; }

h2 .post-title a {
    color: #700;
}

h3 {
    font-size: 1.25rem; }

h4,
h5,
h6 {
    font-size: 1rem; }

p,
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1.75rem; }

div.summary p {
    margin-bottom: 0;
}

a {
    color: #2980b9;
    text-decoration: none; }
a:hover, a:focus {
    text-decoration: underline; }

code {
    font-family: 'Source Code Pro', Monaco, Courier, monospace;
    font-size: 0.85rem;
    color: #555;
    background-color: #f5f5f5;
    border: 1px solid #eef;
    border-radius: 3px;
    padding: 0.2em 0.5em; }

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9; }

pre code {
    font-family: 'Source Code Pro', Menlo, Monaco, Courier, monospace;
    font-size: 0.8rem;
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none; }

blockquote {
    padding: 0.5rem 1rem;
    margin: 0.8rem 0 0.8rem -1.5rem;
    color: #7a7a7a;
    background-color: #eee;
    border-left: 0.3rem solid #e5e5e5; }
blockquote p:last-child {
    margin-bottom: 0; }

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    width: 150px;
    margin: 1.5rem 0; }

button,
.btn {
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 85%;
    line-height: normal;
    padding: 0.5rem 0.75rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
button::-moz-focus-inner,
.btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
button:hover, button:focus,
.btn:hover,
.btn:focus {
    color: #7fdbff;
    border: 1px solid #7fdbff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none; }
button:active,
.btn:active {
    color: #0074d9;
    border: 1px solid #0074d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.header {
    position: relative;
    margin: 3rem auto; }

.site-title {
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin-top: -87px;
    margin-left: -63px;
}
.site-title a {
    color: #700; }

.nav {
    position: absolute;
    top: 0;
    left: -15px;
    transform: translateX(-100%);
    text-align: right; }

.nav-btn {
    display: inline-block;
    line-height: 16px; }
.nav-btn.is-on .ci-burger {
    background: transparent; }
.nav-btn.is-on .ci-burger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0; }
.nav-btn.is-on .ci-burger::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0; }
.nav-btn.is-on + .nav-list {
    opacity: 1; }

.nav-list {
    list-style: none;
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.nav-list .spacer {
    text-align: center;
}

.ci {
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    vertical-align: top; }
.ci:before, .ci:after {
    content: "";
    display: block;
    position: absolute; }

.ci-burger {
    width: 16px;
    height: 3px;
    top: 7px;
    left: 0;
    background: #333;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.ci-burger:before, .ci-burger:after {
    width: 100%;
    height: 3px;
    background: #333;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.ci-burger:before {
    top: -6px; }
.ci-burger:after {
    bottom: -6px; }

.container {
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 64px;
    padding-top: 0;
    background-color: white;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 100;
    box-shadow: 14px 11px 27px #888;

    *zoom: 1;
    width: auto;
    max-width: 52em;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    content: '';
    display: table; }
.container:after {
    clear: both; }

.pagination {
    position: relative;
    margin-top: 5em; }
.pagination:before, .pagination:after {
    content: '';
    display: table; }
.pagination:after {
    clear: both; }
.pagination .previous {
    float: left; }
.pagination .next {
    float: right; }

.footer {
    color: #95a5a6;
    font-size: 14px;
    text-align: center;
    margin: 2rem 0 1rem; }
.footer a {
    color: #333; }

.post {
    position: relative;
    margin-bottom: 2rem; }

.post-title:after {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    width: 100%;
    position: absolute;
    top: 30px;
    left: -30px;
    z-index: -1; }

.post-title a {
    color: #333;
    background: #fff;
    position: relative;
    padding: 0 14px;
    margin-left: -14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.post-title a:after, .post-title a:before {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    top: 13px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
.post-title a:before {
    left: -23px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
.post-title a:after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    right: -23px; }
.post-title a:hover:before, .post-title a:hover:after {
    border-top-color: #ccc;
    border-right-color: #ccc; }
.post-title a:hover:before {
    left: -3px; }
.post-title a:hover:after {
    right: -3px; }

.post-date {
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display:block;
    position: relative;
    margin-top: -10px;
}

.post-content {
    margin: 2rem 0; }

/* styling for tags on homepage */

.post-tags {
    color: #ccc;
    display: block;
    font-size: 14px;
    position: relative;
    margin-top: -25px;
    margin-left: 125px;
    text-align: right;
    max-width: 525px;
}

.post-tags a {
    color: #ccc;
}

.post-content a.internal {
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #bbb;
}

p.site-tagline {
    margin-top: -21px;
    font-family: 'Open Sans', sans-serif;
}
